<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel='stylesheet' href='/iconfont/iconfont.css' />
    <link rel='stylesheet' href='/stylesheets/AddQuestionAuto.css' />
</head>
<body>

    <div class="headPartContainer">
        <text class="headPartText">题库管理</text>
        <div class="line"></div>
    </div>

    <div class="selectContainer">
        <a href="/admin/AddQuestion" class="select2">手动添加</a>
        <a href="#" class="select1">批量导入</a>
    </div>

    <div class="bodyContainer">
        <div class="importExplainContainer">
            <text class="importExplainText">导入说明：</text>
            <div class="importExplainA">
                <a href="#">点击查看</a>
            </div>
        </div>

        <div class="importExplainContainer1">
            <text class="importExplainText">导入文件：</text>
            <div class="importContainer">
                <button class="addFile">添加文件</button>
            </div>
        </div>

    </div>

</body>
</html>