<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/iconfont/iconfont.css' />
    <link rel='stylesheet' href='/stylesheets/courseExplain.css' />
    <title>Document</title>
</head>
<body>
<div class="headPartContainer">
    <text class="headPartText">课程管理</text>
    <div class="line"></div>
</div>

<div class="bodyPartContainer">
    <text class="BodyPartTitle">课程管理功能介绍</text>
    <div class="BodyPartContentContainer">
        <div class="blueLine"></div>
        <div class="functionExplainContainer">
            <div class="functionExplainTextContainer">
                <text class="title">在课程管理板块中，您可以查看自己负责的课程，例如：</text>
                <text class="content">　　·课程查询</text>
                <text class="content">　　·课程筛选</text>
                <text class="content">　　·通过课程来创建试卷</text>
            </div>
        </div>
    </div>
</div>
</body>
</html>