<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/iconfont/iconfont.css' />
    <link rel='stylesheet' href='/stylesheets/examExplain.css' />
    <title>Document</title>
</head>
<body>
    <div class="headPartContainer">
        <text class="headPartText">考试管理</text>
        <div class="line"></div>
    </div>

    <div class="bodyPartContainer">
        <text class="BodyPartTitle">考试管理功能介绍</text>
        <div class="BodyPartContentContainer">
            <div class="blueLine"></div>
            <div class="functionExplainContainer">
                <div class="functionExplainTextContainer">
                    <text class="title">在考试查询板块中，您可以查看所教课程的考试情况，例如：</text>
                    <text class="content">　　·组卷</text>
                    <text class="content">　　·批改</text>
                    <text class="title">在添加试卷板块中，您可以进行添加试卷操作，例如：</text>
                    <text class="content">　　·创建试卷</text>
                </div>
            </div>
        </div>
    </div>
</body>
</html>