<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel='stylesheet' href='/iconfont/iconfont.css'/>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>
    <link rel='stylesheet' href='/stylesheets/gradeCount.css'/>
</head>
<body>
<div class="headPartContainer">
    <text class="headPartText">成绩管理</text>
    <div class="line"></div>
</div>

<div class="content">
    <table class="table">
        <thead>
        <tr>
            <th>试题分类</th>
            <th>班级</th>
            <th>所属学院</th>
            <th>考试时间</th>
            <th>持续时间</th>
            <th>总分</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>计算机网络</td>
            <td>计科1902</td>
            <td>计算机学院</td>
            <td>2022-10-21</td>
            <td>120分钟</td>
            <td>100分</td>
            <td>
                <img src="/images/xiugai.png" class="edit">
                <img src="/images/shanchu.png" class="del">
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>