<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>题库管理系统</title>
  <link rel='stylesheet' href='/iconfont/iconfont.css' />
  <link rel='stylesheet' href='/stylesheets/index.css' />
</head>
<body>
<div class="container">
  <!--      头部      -->
  <div class="headContainer">

    <i class="iconfont icon-nav-01 headIcon" ></i>

    <text class="headText">题库管理系统</text>
    <div class="headBorder">
    </div>
  </div>
  <!--    中部    -->
  <div>
    <h1>
      <img src="/images/login_background.jpg" >
    </h1>
  </div>
  <form action="" method="post"></form>
</div>

</body>
</html>


