<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>题库管理系统</title>
    <link rel='stylesheet' href='/iconfont/iconfont.css' />
    <link rel='stylesheet' href='/stylesheets/main.css' />
</head>
<body>

    <!--  todo 头部页面  -->

    <div class="headPartContainer">
        <div class="headPartLeftContainer">
            <div class="headPartLeftTitle">
                <i class="iconfont icon-nav-01 headPartLeftIcon"></i>
                <text class="headPartLeftText">题库管理系统</text>
            </div>
            <text class="headPartLeftDownText">教师端</text>
        </div>
        <div class="headPartRightContainer">
            <text class="headPartRightText"><%= teaInfo[0].teaName%>教师</text>
            <img src="/images/teacherAva.jpg" class="headPartRightImg">
        </div>
    </div>

    <!--  todo 主题页面  -->

    <div class="bodyPartContainer">
        <!--  todo 左主题页面  -->
        <div class="leftBodyContainer">
            <!--   todo    菜单    -->
            <div class="menuContainer">
                <div class="leftTitle">
                    <a class="menuA" href="#">菜　单　栏</a>
                </div>
                <!--      分割线      -->
                <div class="seg"></div>
                <div class="nav">
                    <!--      每一个菜单栏项          -->
                    <div class="nav-menu">

                        <!--    主标题        -->
                        <div class="nav-title">考试管理</div>
                        <!--    子标题       -->
                        <div class="nav-content">
                            <a href="/admin/examExplain" target="showIframe">功能介绍</a>
                            <a href="/admin/examQuery" target="showIframe">考试查询</a>
                            <a href="/admin/Addexam" target="showIframe">添加试卷</a>
                        </div>

                        <!--      每一个菜单栏项          -->
                        <div class="nav-menu">
                            <!--    主标题        -->
                            <div class="nav-title">题库管理</div>
                            <!--    子标题       -->
                            <div class="nav-content">
                                <a href="/admin/questionExplain" target="showIframe">功能介绍</a>
                                <a href="/admin/questionQuery" target="showIframe">题库查询</a>
                                <a href="/admin/AddQuestion" target="showIframe">添加试题</a>
                            </div>
                        </div>

                        <!--      每一个菜单栏项          -->
                        <div class="nav-menu">
                            <!--    主标题        -->
                            <div class="nav-title">成绩查询</div>
                            <!--    子标题       -->
                            <div class="nav-content">
                                <a href="/admin/gradeQuery" target="showIframe">学生成绩查询</a>
                                <a href="/admin/gradeCount" target="showIframe">学生成绩统计</a>
                            </div>
                        </div>
                        

                        <!--      每一个菜单栏项          -->
                        <div class="nav-menu">
                            <!--    主标题        -->
                            <div class="nav-title">课程管理</div>
                            <!--    子标题       -->
                            <div class="nav-content">
                                <a href="/admin/courseExplain" target="showIframe">功能介绍</a>
                                <a href="/admin/courseManage" target="showIframe">课程管理</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>


        <!--  todo 右主题页面  -->
        <div class="rightBodyContainer">
            <iframe src="/admin/welcome" width="100%" height="100%" name="showIframe" frameborder="0"></iframe>
        </div>
    </div>

</body>
</html>