<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel='stylesheet' href='/stylesheets/right.css' />
</head>

<body>
<div class="headContainer"></div>
<div class="item">
    <div class="head" onclick="showMenu('i1')">菜单1</div>
    <div id="i1" class="content hid">
        <div>项目1</div>
        <div>项目2</div>
        <div>项目3</div>
    </div>
</div>

<div class="item">
    <div class="head" onclick="showMenu('i2')">菜单2</div>
    <div id="i2" class="content hid">
        <div>项目1</div>
        <div>项目2</div>
        <div>项目3</div>
    </div>
</div>

<div class="item">
    <div class="head" onclick="showMenu('i3')">菜单3</div>
    <div id="i3" class="content hid">
        <div>项目1</div>
        <div>项目2</div>
        <div>项目3</div>
    </div>
</div>

<script>
    function showMenu(nid){
        var header = document.getElementById(nid);
        var item_list = header.parentElement.parentElement.children;

        for(var i=0;i<3;i++){
            var item = item_list[i];
            item.children[1].classList.add("hid");
        }

        document.getElementById(nid).classList.remove("hid");
    }
</script>

</body>
</html>