*{
    margin: 0;
    padding: 0;
}
.headPartContainer{
    margin-top: 10px;
}
.headPartText{
    font-size: 26px;
    margin-left: 50px;
    font-weight: 500;
}
.line{
    height: 1px;
    width: 96%;
    margin-top: 10px;
    margin-left: 2%;
    background-color: black
}



.bodyPartContainer{
    margin-top: 40px;
}
.BodyPartTitle{
    font-weight: 500;
    font-size: 30px;
    margin-left: 100px;
}
.BodyPartContentContainer{
    display: flex;
    margin-left: 250px;
    margin-top: 50px;
}
.blueLine{
    background-color: #0269D9;
    width: 3px;
    height: 330px;
}
.functionExplainContainer{
    width: 800px;
    height: 330px;
    background-color: #EBF8FF;
}
.functionExplainTextContainer{
    display: grid;
    margin-left: 50px;
    margin-top: 10px;
}
.title{
    font-size: 22px;
    margin-top: 20px;
}
.content{
    font-size: 20px;
    margin-top: 5px;
    font-weight: 600;
}