.headContainer{
    height: 100px;
    width: 100%;
    background-color: #00B7FF;
}
.hid{
    display:none;
}

.head{
    width:100px;
    font-size:30px;
    font-weight:bold;
    font-style:italic;
    margin-top:8px;
    color:black;
    background-color:#8470FF;
}
.content{
    width:100px;
    font-size:16px;
    background-color:#D8BFD8;
}